.form {
   display: flex;
   flex-direction: column;

   & > * {
      margin-bottom: $m-size;
   }

   & div button {
      margin-right: $m-size;
   }

   &__error {
      margin: 0 0 $m-size 0;
      font-style: italic;
   }
}